fire
simple-parsing
pyyaml
mistral-common>=1.1.0
safetensors
tensorboard
tqdm

torch==2.2
triton==2.2
xformers==0.0.24

jupyter==1.0.0
huggingface_hub==0.23.3
huggingface_hub[cli]==0.23.3
pickleshare==0.7.5
pandas==2.2.2
pyarrow==16.1.0
numpy==1.26.4
fastparquet==2024.5.0
wandb==0.17.0
mistral_inference==1.1.0  
